.btn-wkc{
  display: inline-block;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: inherit;
  border: 1px solid;
  border-radius: 4px;
  padding: .75rem 1rem;
  font-size: 1rem;
}

/* HEADER */
.wkc-header{
  margin: 0 0 .5rem;
}
.wkc-weekly-nav{
  font-size: 0;
}
.wkc-nav-btn{
  cursor: pointer;
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  vertical-align: top;
  font-weight: bold;
}
.wkc-nav-next{
  text-align: right;
}

/* BODY */
.wkc-body{
  margin: 0;
}

.wkc-week-header{
  background-color: #373a3c;
  border: 1px solid #373a3c;
  font-weight: bold;
  color: white;
  padding: .75rem 1rem;
  text-align: center;
}
.wkc-week-body td,
.wkc-week-body th{
  text-align: center;
}

.wkc-timeslot{
  padding: 0;
}

.wkc-timeslot .wkc-time{
  padding: .75rem;
  cursor: pointer;
}

.wkc-timeslot .wkc-time:hover{
  background-color: rgba(0,0,0,.25);
}
.wkc-timeslot.is-selected .wkc-time{
  background-color: #373a3c;
  color: white;
}

.wkc-time .wkc-time-start:before{
  content: '\f017';
  font-family: 'FontAwesome';
  margin-right: .25rem;
}
.wkc-timeslot .wkc-time:after{
  content: '\f096';
  font-family: 'FontAwesome';
  margin-left: .25rem;
  font-size: 1.15rem;
  display: block;
}

.wkc-timeslot.is-selected .wkc-time:after{
  content: '\f046';
}


/* FOOTER */
.wkc-footer{
  text-align: center;
  margin: 1rem 0 1.5rem;
}

/* POPUP */
.wkc-popup-wrapper{
  background-color: rgba(0,0,0,.25);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999999999999;
}

.wkc-popup{
  width: 750px;
  max-width: 100%;
  position: relative;
  padding: 2rem;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 1rem rgba(0,0,0,.25);
}

.wkc-popup-inner{
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
}

.wkc-popup-close{
  position: absolute;
  top: .5rem;
  right: .5rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #373a3c;
  color: white;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
.wkc-popup-close:after{
  content: '\f00d';
  font-family: 'FontAwesome';
}


.wkc-popup .wkc-popup-warning,
.wkc-popup .wkc-popup-text{
  display: none;
}
.wkc-popup.timeslot-selected .wkc-popup-warning,
.wkc-popup.timeslot-selected .wkc-popup-text{
  display: block;
}

.wkc-popup-title{
  font-size: 1.15rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
}
.wkc-popup-warning{
  font-size: 1.15rem;
  font-weight: bold;
}

.wkc-popup form label{
  display: block;
  text-align: left;
  font-weight: bold;
  font-size: .9rem;
}

.wkc-popup form{
  padding: 2rem 1rem 1.5rem;
  }

.wkc-popup form .form-group{
  margin: 0 auto .5rem;
  width: 350px;
  max-width: 100%;
}

.wkc-popup form .form-control{
  border-color: transparent;
  border-bottom-color: #ccc;
  background-color: white;
  border-radius: 0;
}

.wkc-popup form .g-recaptcha{
  margin-top: 1.5rem;
  display: inline-block;
}

.wkc-popup form .btn{
  margin-top: 1.5rem;
}

.wkc-popup-confirm-time{
  padding: 1.5rem 1rem;
  border: 1px solid #ccc;
  margin: 1rem auto;
  width: 300px;
  max-width: 100%;
}

.wkc-popup.timeslot-selected .wkc-popup-date{
  margin-bottom: .5rem;
}